.data-table {
    .table-responsive-xl {
        .document-preview {
            overflow: hidden;
            img {
                cursor: pointer;
                // all: unset;
                width: 90px !important;
                height: 90px !important;
                object-fit: cover;
                transition: 0.5s ease-in-out;
            }

            img:hover {
                filter: brightness(60%) blur(1px);
            }
        }
    }
}

#add-ticket {
    margin: 0 auto !important;
    .modal-header {
        padding: 20px 35px;

        .add-ticket-header {
            width: 100%;
            color: var(--text-color);
        }
  
        .add-ticket-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-300);
            position: relative;
        }

        button {
            color: red;
        }
    }
    .modal-body {
        padding-top: 0;
        padding-bottom: 10px;

        .fileinput {
            label {
                text-align: start;
                width: 100%;
                padding: 0;
            }

            .inputtypefile {
                margin: 10px 0;
            }
        }
        .form-group {
            .form-label {
                display: flex;
                align-items: flex-start;
            }
        }

        .reSchedule-datepicker {
            .rdtPicker {
                background-color: var(--boxes-color);
                color: var(--text-color);
                border: 1px solid var(--text-color);
        
                thead {
                    tr {
                        &:first-of-type {
                            th {
                                transition: 0.2s ease-in-out;
        
                                &:hover {
                                    background-color: var(--primary-color);
                                    color: var(--secondary-100);
                                }
                            }
                        }
                    }
                }
        
                .rdtTime .rdtSwitch {
                    border: 1px solid var(--text-color);
                    transition: 0.2s ease-in-out;
        
                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--secondary-100);
                    }
                }
        
                .rdtTimeToggle {
                    border: 1px solid var(--text-color);
                }
        
                .rdtCounter {
                    .rdtBtn {
                        margin: 1px;
                        width: 35px;
                        height: 35px;
        
                        &:hover {
                            background-color: var(--primary-color);
                            color: var(--secondary-100);
                        }
                    }
                }
        
                td.rdtActive,
                td.rdtActive:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-100);
                }
        
                td.rdtToday {
                    &:before {
                        border-bottom: 7px solid var(--primary-color);
                    }
                }
        
                td.rdtDay:hover,
                td.rdtHour:hover,
                td.rdtMinute:hover,
                td.rdtSecond:hover,
                .rdtTimeToggle:hover {
                    background: var(--primary-color);
                    color: var(--secondary-100);
                    cursor: pointer;
                }

                td.bonus-view {
                i {
                    color: red;
                }
                }
            }
        }
    }
  
    .modal-footer {
        position: relative;
        bottom: 20px;
        align-self: flex-end;
        padding-right: 20px;
    }
}

#view-ticket {
    margin: 0 auto !important;
    .modal-header {
        padding: 20px 35px;

        .add-ticket-header {
            width: 100%;
            color: var(--text-color);
        }
  
        .add-ticket-header::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--secondary-300);
            position: relative;
        }

        button {
            color: red;
        }
    }
    .modal-body {
        padding-top: 0;
        padding-bottom: 10px;

        h3 {
            text-align: start;
            margin: 10px 10px;
            margin-bottom: 0;
            padding: 0 10px;
            text-transform: capitalize;
        }

        .design {
            h3 {
                font-weight: 500;
                text-transform: none;
                font-size: 15px;
                margin: 0 10px;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 40px;
                font-size: 15px;
                color: var(--text-color);
                
                .status {
                    margin-left: 8px;
                    font-size: 12px;
                    padding: 2px 8px;
                    color: var(--text-color);
                    border-radius: 5px;
                    background-color: #17C964;
                    color: white;
                }

                .inactive-status {
                    margin-left: 8px;
                    font-size: 12px;
                    padding: 2px 8px;
                    color: var(--text-color);
                    border-radius: 5px;
                    background-color: #f20000;
                    color: white;
                }
            }
        }

        .ticket-preview-group {
            .document-preview {
                width: 95%;
                
                img {
                    border: 2px solid var(--secondary-400);
                    border-radius: 0 20px;
                    width: 90% !important; 
                    object-fit: cover;
                }
            }
        }
    }
  
    .modal-footer {
        position: relative;
        bottom: 20px;
        align-self: flex-start;
        padding-left: 45px;

        button {
            padding: 5px 10px;
        }

        button:hover {
            border-color: var(--text-color);
        }
    }
}