.data-table {
    .table-responsive-xl {
        .dropdown-datatable-items-icon {
            i:hover {
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
}